*{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 1em;
  }
