@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-notfound {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-box--notfound {
    width: 80%;
    height: 95%;
}

.notfound-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #EC9B69;
    text-align: center;
    padding: 20px;
}

.box-notfound--text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #313131;
    text-align: center;

}

.imagem-notfound {
    width: 628px;
    height: 720px;
    margin: -130px 231px;
}
