body{
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;

}


#card-pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    flex-direction: column;
    font-size: 30px;
}

#img-pokemon{
    width: 150px;
    display: block;
}

#nome-pokemon{
    font-size: 1.5rem;
    font-weight: bold;
}