@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 66px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.logo {
    width: 207px;
    margin: 1rem;
}

.btn-lupa {
    position: absolute;
    right: 0;
    top: 15px;
    padding: 15px 25px;
    transition: 0.5s;

}

.btn-lupa:hover {
    transform: scale(2.1);
}

.btn {
    border: none;
    background: transparent;
}

.input-container {
    position: relative;
}

#input-user {
    width: 403px;
    height: 42px;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 11px;
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 16px 11px;
    transition: .3s;
}

.user-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 958px;
    background-color: #E5E5E5;
}

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 252px;
    height: 400px;
}

#img-user {
    width: 252px;
    height: 255px;
    border-radius: 8px;
}


#name-user {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #EC9B69;
    padding-top: 0.8rem;
}

#div-erro {
    position: absolute;
    width: 545px;
    height: 120px;
    left: 465px;
    top: 175px;

}

#paragrafo-erro1 {

  /* Usuário não encontra :( */


position: absolute;
left: 32.29%;
right: 29.86%;
top: 17.09%;
bottom: 71.19%;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;

color: #EC9B69;

}

#paragrafo-erro2 {
   /* Pesquisa novamente */


position: absolute;
left: 40.14%;
right: 37.71%;
top: 23.14%;
bottom: 72.95%;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 40px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #313131;

opacity: 0.5;


}

#nickname-user {
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 17px;
    height: 40px;
    color: #313131;
    opacity: 0.5;
    padding-top: 0.25rem;
}

#bio-user {
    font-size: 0.9rem;
    line-height: 17px;
    color: #313131;
    opacity: 0.5;
    padding: 1rem 0;
}

.info-numbers {
    display: flex;
}

.followers-card {
    padding: 4px;
    width: 66px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#followers-img,
#repository-img {
    padding: 0.5rem;
}

#followers-user,
#repository-user {
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 17px;
    color: #313131;
    opacity: 0.5;
}

.footer {
    width: 100%;
    height: 66px;
}

.footer-text {
    text-align: center;
    padding: 22px;
    width: 100%;
}

.developers {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #EC9B69;
}