@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');


body {
    background-color:#E5E5E5;
}
h1 {
    text-align: center;
    color: #EC9B69;
    Font-style: Bold;
    Font-size: 48px;
    width: 545px;
    margin-top: 175px;
    margin-left: 465px;
}