body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#card-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
}

#img-pokemon {
    max-width: 100px;
    display: block;
}

#nome-pokemon {
    font-size: 18px;
    font-weight: bold;
}