    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

    body {
        background-color: #E5E5E5;
    }

    #cabecalho {
        position: absolute;
        width: 100%;
        height: 66px;
        left: 0px;
        top: 0px;

        background: #FFFFFF;
    }

    #id-logo {
        position: absolute;
        width: 207px;
        height: 40px;
        left: 13px;
        top: 13px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        color: #EC9B69;
    }

    #form-busca {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 12px 11px;

        position: absolute;
        width: 300px;
        height: 42px;
        left: 968px;
        top: 13px;

        background: #FFFFFF;
        border: 1px solid #BEBEBE;
        box-sizing: border-box;
        border-radius: 8px;
    }

    #input-usuario {
        position: static;
        width: 200px;
        height: 15px;

        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        color: #313131;

        opacity: 0.5;

        margin: 0px 8px;
    }

    #btn {
        position: absolute;
        width: 20px;
        left: 228px;
        padding: 5px;

        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        background-color: #ffffff;
        border: none;
    }

    #lupa {
        position: absolute;
        width: 30px;
        left: 0px;
    }

    #card-usuario {
        text-align: center;
    }
    #img-usuario {
        width: 252px;
        border-radius: 8px;
        margin-top: 100px;
    }
    
    #nome-usuario {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        color: #EC9B69;
        margin: 10px 50px 0px 0px;
    }
    
    #username {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #313131;
        opacity: 0.8;
        margin: 10px 160px 0px 0px;
    }

    #bio {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #313131;
        opacity: 0.8;
        margin: 10px 10px 0px 0px;
    }

    #seguidores {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #313131;
        opacity: 0.8;
        margin: 20px 200px 20px 0px;
    }


    #seguidores::before{
        content: url('./../../../images/people_outline.png');
        margin: 10px 10px 10px 10px ;
    }

    #repo {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #313131;
        opacity: 0.8;
    }