body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

#card-pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  flex-direction: column;
}

#img-pokemon {
  max-width: 100px;
  display: block;

}

#nome-pokemon{
  font-size: 18px;
  font-weight: bold;
}