@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    
   
}
header {
display: flex;
align-items: center;
justify-content: space-between;
background-color: #FFFFFF;
padding: 1em;


}
form{
    border: 1px solid #cac7c7;
    border-radius: 0.3em;
    padding: 0.3em;

}
form input, form button {
    font-size: 1.2em;
    border-radius: 0.2em;
     border: none; 
    padding: 0.2em;
    

}
form input{
    color: #0f0e0e;
  
}
form button{
    cursor: pointer;
    background:none;
}

form button:hover{
    background-color: #E5E5E5;
   

}
.img-git-search{
    width: 15em;
    padding: 0;
    
}



/* usuario */

.secao-usuario{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-content: center;
    background-color: #E5E5E5;
    height: 430px;
    flex-wrap: wrap;
}
#img-usuario{
    width: 15em;
    border-radius: 8px;

}
#nome-usuario{
    font-weight: bold;
    font-size: 1.2em;
    line-height: 2.5em;
    color: #EC9B69;
    text-align: left;
    font-size: 1.3em;
    
}
#apelido-usuario{
display: flex;
font-weight: bold;
color: #313131;
font-size: 1.2em;
}
    
#bio-usuario{
    font-size: 0.9rem;
    line-height: 17px;
    color: #313131;
    opacity: 0.5;
    padding: 1rem 0;
    flex: none;
    width:200px;
   
} 

.caixas-cards{
    display: flex;

    /* background-color: #FFFFFF;
    width: 40px;
    border-radius: 8px; */

   
}
#seguidores-card{
    padding: 4px;
    width: 66px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-seguidores{
    padding: 0.5rem;
   
}
#seguidores-usuario{
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 17px;
    color: #313131;
    opacity: 0.5;
}

.seguidores-card{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}
#repositorio-img{
    padding: 0.5rem;
}
#repositorio-usuario{
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 17px;
    color: #313131;
    opacity: 0.5;
}

footer{
    display: flex;
    color: black;
    text-align:justify;
    justify-content: center;
    padding: .10em;
    background-color: #FFFFFF; 
  }
  .s2 {
    color: rgb(196, 26, 26);
  }  
  .name-footer{
    color: #EC9B69;
  }

  